@page "/orders/{number}"
@inherits DetailsPage

<h1>Orders Details</h1>
<br>
@if (Order is not null)
{
    <h4>Order Number</h4>
    <p>@Order.Number</p>
    <br>
    <h4>Order Date</h4>
    <p>@Order.CreatedAt.ToString("dd/MM/yyyy")</p>
    <br>
    <h4>Last Update</h4>
    <p>@Order.UpdatedAt.ToString("dd/MM/yyyy")</p>
    <br>
    <h4>Products</h4>
    <p>@Order.Product.Title</p>
    <br>
    <h4>Discount</h4>
    <p>@(Order.Voucher is null ? "Not applied" : Order.Voucher.Amount.ToString("C"))</p>
    <br>
    <h4>Total Value</h4>
    <p>@Order.Total.ToString("C")</p>
    <br>
    <h4>Situation</h4>
    <OrderStatus Status="Order.Status"/>
    <br>
    <br>
    <br>
    <CascadingValue Value="this">
        <OrderAction Order="Order"/>
    </CascadingValue>

    <br>
}
else
{
    <MudSkeleton Animation="Animation.Wave"/>
    <MudSkeleton Animation="Animation.Wave"/>
    <MudSkeleton Animation="Animation.Wave"/>
}